.background {
  fill: none;
  pointer-events: all;
}

#countries {
  fill: transparent;
  stroke: transparent;
  stroke-width: 0.3px;
}

.text-name {
  fill: white;
  font-family: Georgia, Arial, Helvetica, sans-serif;
  opacity: .8;
  text-transform: uppercase;
  font-weight: bold;
}

.text-value {
  fill: #A5e0fd;
  opacity: .8;
  font-weight: bold;
  font-family: Verdana, "Times New Roman", Times, serif, Arial, Helvetica, sans-serif;
}

.bubble {
  fill: #3f6bac;
  opacity: .8;
}

.text {
  position: absolute;
  visibility: hidden;
  height: auto;
  width: auto;
  white-space: nowrap;
}
